@import "../../../../global/variables/colors";
@import "../../../../global/variables/mixins";

.viewcart {
  @include Relative;
  margin: 30px 75px 30px 80px;
  display: flex;
  &Table {
    width: 735px;
    padding: 20px;
    border-right: 1px solid $colorgray-400;
    .title {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
      border-bottom: 2px solid $colorgray-700;
      &Name {
        padding-right: 300px;
      }
      strong {
        font-size: 14px;
      }
    }
    .content {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $colorgray-500;
      padding-bottom: 10px;
      p {
        margin-top: 20px;
        color: $colorgray-900;
        font-size: 14px;
        font-weight: 700;
        line-height: 23px;
        overflow: hidden;
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }
      &Product {
        display: flex;
        width: 370px;
        margin-top: -10px;
        img {
          width: 75px;
          height: 57px;
          margin: 0 10px;
        }
        p {
          color: $colorgray-700;
        }
        .delete {
          padding: 1px 6px;
          border: 1px solid $colorgray-400;
          border-radius: 50%;
          color: $colorgray-500;
          &:hover {
            color: $colorgray-700;
            border-color: $colorgray-800;
          }
        }
      }
      &Num {
        display: flex;
      }
    }
    .total {
      display: flex;
      margin-left: 550px;
      strong {
        font-size: 16px;
        color: $colorgray-700;
        padding-right: 10px;
      }
      p {
        font-weight: 700;
        font-size: 15px;
      }
    }
    .Button {
      border: 2px solid $colorbutton;
      width: 240px;
      color: $colorbutton;
      font-size: 14px;
      font-weight: 700;
      &:hover {
        color: white;
        background-color: $colorbutton;
      }
    }
  }
  &Total {
    margin: 20px;
    width: 500px;
    .Strong {
      font-size: 13px;
      padding-bottom: 10px;
      padding-right: 74%;
      border-bottom: 2px solid $colorgray-700;
    }
    div {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      border-bottom: 1px solid $colorgray-500;
      strong {
        font-size: 14px;
        color: $colorgray-600;
      }
      p {
        color: $colorgray-700;
        font-weight: 600;
      }
    }
    input {
      margin: 20px 0;
      width: 100%;
      outline: none;
      padding: 5px 10px;
      border: 1px solid $colorgray-400;
    }
    button {
      width: 100%;
      border: none;
      padding: 5px 0;
      color: $colorgray-200;
      background-color: $colorgray-600;
      &:hover {
        background-color: $colorbutton;
      }
    }
  }
  &Payment {
    margin: 20px 0;
    text-align: center;
    background-color: $colorbutton;
    color: $colorgray-500 !important;
    font-weight: 700;
    &:hover {
      color: white !important;
    }
  }
}

.payment {
  @include Relative;
  margin: 30px 75px;
  display: flex;
  .informationCart {
    width: 50%;
    .title {
      border-bottom: 2px solid $colorgray-500;
      font-size: 14px;
      color: $colorgray-700;
      padding-bottom: 5px;
    }
    div {
      margin: 10px 0;
      margin-right: 20px;
      justify-content: space-between;
      display: flex;
      border-bottom: 1px solid $colorgray-500;
      p:last-child {
        color: $colorgray-900;
        font-weight: 600;
      }
      strong {
        font-size: 14px;
        padding-bottom: 5px;
      }
      span {
        font-size: 13px;
        padding-bottom: 5px;
      }
    }
    .Button {
      width: 100px;
      text-align: center;
      font-size: 14px;
      font-weight: 700;
      border: none;
      padding: 5px 10px;
      color: #fff;
      text-decoration: none;
      background-color: $colorbutton;
      &:hover {
        color: $colorgray-500;
      }
    }
  }
  .information {
    width: 400px;
    padding: 0 20px;
    height: 250px;
    border: 2px solid $colorbutton;
    div {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      strong {
        color: $colorgray-700;
      }
      p {
        font-weight: 600;
        color: $colorgray;
      }
    }
    .update {
      background-color: $colorbutton;
      width: 150px;
      font-weight: 700;
      text-align: center;
      color: $colorgray-500;
      margin: 10px 200px;
      &:hover {
        color: white;
      }
    }
  }
}
